<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="userName" >
            <span class="error-block" *ngIf="!userName.valid && (userName.touched || UserSubmitted)">
              *Name Required
            </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email">
          <span class="error-block" *ngIf="!email.valid && (email.touched || UserSubmitted)">
            <span *ngIf="email.hasError('required')">
              *Email required
            </span>
            <span *ngIf="email.hasError('email')">
              *Email not valid
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Password</label>
          <input type="password" class="form-control"formControlName="password">
          <span class="error-block" *ngIf="!password.valid && (password.touched || UserSubmitted)">
            <span *ngIf="password.errors['required']">
              *Password required
            </span>
            <span *ngIf="password.errors.minlength">
              *Password must have atleast 8 characters
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control"formControlName="confirmPassword">
          <span class="error-block" *ngIf="!confirmPassword.valid && (confirmPassword.touched || UserSubmitted)">
            <span *ngIf="confirmPassword.hasError('required')">
              *Required
            </span>
          </span>
          <span class="error-block" *ngIf="registrationForm.hasError('notmatched') && confirmPassword.valid">
            *Passwords don't match
          </span>
        </div>

        <div class="form-group col-12">
          <label for="mobile" class="form-label">Phone #</label>
          <input type="text" class="form-control"formControlName="phoneNum">
          <span class="error-block" *ngIf="!phoneNum.valid && (phoneNum.touched || UserSubmitted)">
            <span *ngIf="phoneNum.errors['required']">
              *Required
            </span>
            <span *ngIf="phoneNum.errors.minlength">
              *Phone # must have atleast 10 characters
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="reset" class="btn btn-danger ml-2">Cancel</button>
        </div>

        <!--Form Values: {{registrationForm.value | json}} <br>
        Form Status: {{registrationForm.valid}}-->

      </form>
    </div>
  </div>
  </div>
</div>
